{% extends 'main/layout.html' %}
{% load static %}

{% block body %}
<div class="col-12 m-3 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
    <div class="card w-100 mr-4" >
        <div class="card-body">
            <h1 class="text-center text-primary font-weight-bolder"> Bienvenido {{ request.user }} </h1>
            <hr/>
            <h4 class="text-primary"> Instrucciones: </h4>
            <h5 class="text-left mt-3"> 
                <ul> 
                    <li> Solo puedes votar una vez y no podrás deshacer tu voto. </li>
                    <li> Puede imprimir su recibo de votación en la navegación de recibos. </li>
                    <li> ¡Vota sabiamente! </li>
                </ul>
            </h5>
            <img src="{% static 'landingpage/img/snus.jpg' %}" width="80%"  alt="banner">

        </div>
    </div>
</div>

{% endblock %}