{% extends 'main/layout.html' %}

{% block body %}
<h1 class="h3 mb-2 text-primary font-weight-bolder text-center">Resultados de las Elecciones</h1>

        <div class="row" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">

            <div class="col-12 m-3 d-flex justify-content-center">
                <div class="card border-bottom-primary shadow w-75">
                    <div class="card-body">
                        <h5 class="h3 card-title text-center"><b>Delegado Estudiantil</b></h5>
                        <hr>

                        <div class="row">
                            <div class="h4 col-6 text-center">
                                Candidato
                            </div>
                            <div class="h4 col-6 text-center">
                                Votos
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-6 text-center mt-3">
                                <ul class="h5 text-left" style="list-style: none;">
                                    {% for governor in governor %}
                                    <li> {{governor.fullname}} </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="col-6 text-center mt-3">
                                <ul class="h5" style="list-style: none;">
                                    {% for governor in governor %}
                                    <li> {{governor.voters.all|length }} </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>

        </div>



{% endblock body %}