{% extends 'main/layout.html' %}


{% block body %}

<div class="container"> 
    <div class="card p-5"> 
        <h1 class="h3 mb-2 text-primary font-weight-bolder text-center mb-3"> Perfil </h1>
        <hr>
    <form action="" method="POST" class="user mt-5">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
            <label> Correo: </label>   
            {{ profile.email }}
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
            <label> Carrera: </label>   
            {{ profile.department }}
            </div>
        </div>
    <div class="form-group row">
        <div class="col-sm-12 mb-3 mb-sm-0">
            <label> Nombre: </label>   
            {{ profile.last_name }}, {{ profile.first_name }}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label> Carrera Principal Votada: </label>  
            {% if profile.voted_main %}
           <i class="fa-solid fa-check"></i>
            {% else %}
           <i class="fa-solid fa-x"></i> 
            {% endif %}
        </div>
        <div class="col-sm-6">
            <label> Carrera Votada: </label>  
            {% if profile.voted_department %}
           <i class="fa-solid fa-check"></i>
            {% else %}
           <i class="fa-solid fa-x"></i> 
            {% endif %}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            {{ student_form.password }}
        </div>
        <div class="col-sm-6">
            <input type="password" name="password2" class="form-control form-control-user" placeholder="Confirmar Contraseña">
        </div>
    </div>
    <div class="help" id="id_password1_helptext">
        <ul style="font-size: 13px;">
            <li>Solo se acepta el correo electrónico Institucional.</li>
            <li>La contraseña no puede ser demasiado similar a otra información personal..</li>
            <li>La contraseña debe contener al menos 8 caracteres.</li>
            <li>La contraseña no puede ser una contraseña de uso común.</li>
            <li>La contraseña no puede ser completamente numérica.</li>
        </ul>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
    <input type="submit" value="Guardar" class="btn btn-primary btn-user  w-25">
    <a href="{{request.META.HTTP_REFERER}}" class="ml-3 btn btn-secondary btn-user  w-25">Cancelar</a>
    </div>
    </form>
    </div>
</div>
{% endblock %}