{% extends 'main/layout.html' %}

{% block body %}
<div class="container-fluid">
    <div class="text-center"> 
        <h1 class="h3 mb-2 text-primary font-weight-bolder">Recibo de votación</h1><br>
    </div>

    <div class="row">

        {% for receipt in receipts %}
            {% if receipt.delegado %}
                <div class="col-xl-12 col-md-12 d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out"> 
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary text-center">{{ receipt.department }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered receipt_table" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <td>Fecha: {{ receipt.created_at }} <b></b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Carrera: <b>{{ receipt.department }}</b> </td>
                                        </tr>
                                        <tr>
                                            <td>Nombre: <b>{{ receipt.owner }}</b> </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ul style="list-style: none; margin-left: -40px;">
                                                    <li> Delegado Estudiantil - {{ receipt.delegado }}</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <!-- Mostrar el hash de la transacción en la blockchain -->
                                        <tr>
                                            <td>
                                                <strong>Transacción en Blockchain:</strong> 
                                                <a href="https://etherscan.io/tx/{{ receipt.blockchain_tx }}" target="_blank">{{ receipt.blockchain_tx }}</a>
                                            </td>
                                        </tr>
                                        <!-- Mostrar el QR generado -->
                                        <tr>
                                            <td>
                                                <strong>Verificación del voto:</strong><br>
                                                <img src="{{ receipt.qr_path }}" alt="QR de la transacción" class="img-fluid" style="width: 150px;">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

</div>
{% endblock %}
